<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réservation de moto</title>
</head>
<body>
    <p>Bonjour Just Ride</p>
        <p>Un email pour reservation de moto :</p>
        <div>
          <h2>Information du client: </h2>
          <ul>
            <li>Nom et prenoms: {{nom}}  {{prenom}}</li>
            <li>Téléphone: {{telephone}}</li>
            <li>Email: {{email}}</li>
            <li>Passeport: {{passeport}}</li>
          </ul>
          <h2>Information de la réservation: </h2>
          <ul>
          <li>Moto: {{motos}}</li>
          <li>Date de debut: {{dateDebut}}</li>
          <li>Date de fin: {{dateFin}}</li>
          <li>Durée de réservation: {{duree}}</li>
          </ul>
        </div>
</body>
</html>
